@import "tailwindcss";

@theme {
  --color-primary: #0096FF;
  --color-primary-hover: #005FA3;
  --color-secondary: #FF6A00;
  --shadow-primary: 0 0 10px -5px rgba(0, 0, 0, 0.5);
  --color-brand-gray: #4C556A;
  --color-third: #EA00FF;
  --color-fourth: #6A00FF;
  --color-fourth-hover: #0095FF;
  --color-fifth: #0015FF;
  --color-sixth: #F0F5FF;
  --color-seventh: #E0EBFF;
  --color-seventh-hover: #9EC4FF;
}

/* index.css */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.slide-in-right {
  animation: slideInRight 0.3s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

/* Đảm bảo các thông báo chuyển động mượt mà khi thay đổi vị trí */
.notification-container {
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Khoảng cách giữa các thông báo */
}

.notification-item {
  transition: all 0.5s ease-out;
  transform-origin: top center;
}

/* Khi một thông báo đang mờ dần, giữ nguyên không gian của nó */
.notification-item.removing {
  animation: fadeOut 0.3s ease-out forwards;
  margin-bottom: -4rem; /* Bù lại cho chiều cao của thông báo */
}

